<div class="featured__card-item"> 
<h2 class="title-h2">@@title-text <span class="title-h2-it
    ">@@title-text-it</span></h2>
<p class="featured-card-text">
    @@featured-card-text
</p>
<ul class="featured-card-list">
  <li><p>@@list-1</p></li>  
  <li><p>@@list-2</p></li>
  <li><p>@@list-3</p></li>
  <li><p>@@list-4</p></li>
</ul>
<a href="" class="btn">
  <div class="btn-arrow btn-plain">
    <p class="btn__cta-title">@@btn-text</p>
    <img class="btn__cta-arrow" src="./img/arrow.svg" alt="btn-arrow">
  </div>
</a>
</div>
<img src="../img/screen-1.png" alt="">