// body * {
//   outline: 1px solid lightgrey;
// }
.green-block {
  background-color: #358765;
  min-height: 49px;
  width: 15%;
  margin: 20px auto;
}
.blocks {
  width: 442px;
  margin: 0 auto;
}
.dark-green {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin-bottom: 20px;
}
.item {
  background-color: #588924;
  min-height: 116px;
  width: 30%;
}
.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.red, .blue, .yellow {
  height: 147px;
  width: 10%;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.grey {
  background-color: grey;
  height: 55px;
  width: 30%;
  margin: 0 auto
}