body {
    box-sizing: border-box;
    margin: 0 auto;
}

.screen {
    max-width: 940px;
}

.first {
    display: flex;
    justify-content: space-between
}

.container {
    max-width: 620px;
}

  
.menu {
    display: flex;
    background-color: #d7d8d9;
    font-size: 18px;
    font-family: "PT Sans";
    color: rgb(51, 51, 51);
    padding: 8px 16px;
}

.slider {
    display: flex;
}

.main-news__items {
    display: flex;
}
.video .news-item {
    display: flex;
}

.second, .second .container {
    display: flex;
}


.newsfeed .news-item {
    display: flex;
}

.interesting .news-item {
    display: flex;
}

.review {
    max-width: 940px;
    display: flex;

}


  
  
  // .Hot_themes {
//     font-size: 18px;
//     font-family: "PT Sans";
//     color: rgb(255, 255, 255);
//     line-height: 1.056;
//   }

.EURO_2016_Playoffs______El__Classico {
    font-size: 18px;
    font-family: "PT Sans";
    color: rgb(51, 51, 51);
    line-height: 1.056;
  

//   .Jurgen_Klopp_makes_a_sexy_Liverpool {
//     font-size: 30px;
//     font-family: "PT Serif";
//     color: rgb(200, 0, 0);
//     line-height: 1.2;
//   }

//   .Liverpool_outcast_Jose_Enrique_set_to_be_handed {
//     font-size: 14px;
//     font-family: "PT Sans";
//     color: rgb(51, 51, 51);
//     line-height: 1.286;
//   }

//   .Видео {
//     font-size: 18px;
//     font-family: "PT Sans";
//     color: rgb(106, 0, 153);
//     font-weight: bold;
//     text-transform: uppercase;
//     line-height: 1.667;
//   }


